<div class="share">

  <!-- Twitter -->
  <a href="https://twitter.com/intent/tweet?source={{ site.url }}&text={{ page.title | url_encode }}&url={{ site.url }}{{ page.url }}&via=KickoffAI" rel="nofollow" target="_blank" title="Tweet">
    <i class="fab fa-twitter-square fa-2x" aria-hidden="true"></i>
    <span class="sr-only">Tweet</span>
  </a>

  <!-- Facebook -->
  <a href="https://facebook.com/sharer.php?u={{ site.url }}{{ page.url }}" rel="nofollow" target="_blank" title="Share on Facebook">
    <i class="fab fa-facebook-square fa-2x" aria-hidden="true"></i>
    <span class="sr-only">Share on Facebook</span>
  </a>

  <!-- LinkedIn -->
  <a href="http://www.linkedin.com/shareArticle?mini=true&url={{ site.url }}{{ page.url }}&title={{ page.title }}&source={{ site.url }}" target="_blank" title="Share on LinkedIn">
    <i class="fab fa-linkedin fa-2x" aria-hidden="true"></i>
    <span class="sr-only">Share on LinkedIn</span>
  </a>

  <!-- Reddit -->
  <a href="http://www.reddit.com/submit?url={{ site.url }}{{ page.url }}&title={{ page.title }}" target="_blank" title="Submit to Reddit">
    <i class="fab fa-reddit-square fa-2x" aria-hidden="true"></i>
    <span class="sr-only">Submit to Reddit</span>
  </a>

  <!-- Email -->
  <a href="mailto:?subject={{ page.title }}&body={{ site.url }}{{ page.url }}" target="_blank" title="Send email">
    <i class="fas fa-envelope-square fa-2x" aria-hidden="true"></i>
    <span class="sr-only">Send email</span>
  </a>

</div>
